[Unit]
Description=Poll

[Service]
User=root
Environment=REDIS_HOST=
WorkingDirectory=/root/poll
ExecStart=flask run --host=0.0.0.0 --port=80
Restart=always